<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <form action="/api/v1/auth/register", method="post">
        <input type="email" name="email", id="email" placeholder="Enter email:">
        <input type="password" name="password", id="password" placeholder="Enter password:">
        <input type="submit" value="Submit">
    </form>
</body>